:root {
  --spanish-orange: hsla(22, 89%, 52%, 1);
  --atomic-tangerine: hsla(22, 100%, 69%, 1);
  --oxford-blue: hsla(220, 50%, 17%, 1);
  --cool-gray: hsla(221, 23%, 58%, 1);
  --alice-blue: hsla(198, 28%, 93%, 1);
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  color: white;
  background-color: var(--spanish-orange);
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.625;
  min-height: 100vh;
  color: var(--cool-gray);
  background-color: white;
}

img,
picture {
  display: block;
}

img {
  font-style: italic;
  max-inline-size: 100%;
  block-size: auto;
  user-select: none;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-transform: uppercase;
  text-wrap: balance;
  color: var(--oxford-blue);
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1.125;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1666666667;
}

header {
  max-inline-size: 23.4375rem;
  padding-block-start: 1.4375rem;
  margin-inline: auto;
  overflow-x: hidden;
}
header nav,
header > div:not([class^=image]) {
  padding-inline: 1.3125rem;
}
header nav > ul {
  align-items: center;
}
header nav > ul li {
  list-style: none;
}
header nav > ul li:first-child {
  max-block-size: 2.5rem;
}
header > div:not([class^=image]) {
  margin-block-start: 4rem;
}
header .button:not(.primary):not(.secondary) {
  padding-inline-start: 1.8125rem;
}

article {
  text-align: center;
  margin-block-start: 4.25rem;
}
article h2,
article p {
  margin-inline: auto;
}
article h2 {
  max-inline-size: 17ch;
}
article p {
  max-inline-size: 36ch;
}
article > p {
  margin-block-start: 1.5rem;
}
article ul {
  margin-block-start: 6.9375rem;
}
article li {
  max-inline-size: 22.125rem;
  margin-inline: auto;
  list-style: none;
}
article li + li {
  margin-block-start: 4rem;
}
article li > * {
  margin-inline: auto;
}
article li > h3 {
  max-inline-size: 15ch;
  margin-block-start: 3.0625rem;
}
article li > p {
  margin-block-start: 1.4375rem;
}

footer {
  text-align: center;
  max-inline-size: 23.4375rem;
  margin-inline: auto;
  margin-block-start: 5.9375rem;
  margin-block-end: 3.125rem;
}

.bold {
  font-weight: 700;
}

.button {
  --transition-duration: 100ms;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding-inline: 0.875rem;
  padding-block: 0.6875rem;
  border-radius: 0.5rem;
  transition: background-color var(--transition-duration) ease;
  user-select: none;
}

.button.primary {
  color: white;
  background-color: var(--spanish-orange);
}
.button.primary:active {
  background-color: var(--atomic-tangerine);
}

.button.secondary {
  color: var(--oxford-blue);
  background-color: var(--alice-blue);
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
}
.button.secondary:active {
  color: white;
  background-color: var(--oxford-blue);
}

.flow > * + * {
  margin-block-start: 2rem;
}

.icon {
  display: flex;
  aspect-ratio: 1;
  max-inline-size: 4.0625rem;
  justify-content: center;
  align-items: center;
  background-color: var(--spanish-orange);
  border-radius: 1rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.image-keyboard,
.image-phone-and-keyboard,
.image-glass-and-keyboard {
  background-size: cover;
  border-radius: 1.5rem;
}

.image-keyboard,
.image-phone-and-keyboard {
  position: relative;
}

.image-phone-and-keyboard,
.image-glass-and-keyboard {
  display: inline-block;
  block-size: 12.0625rem;
  margin-block-start: 1.5rem;
}

.image-keyboard {
  inline-size: 23.25rem;
  block-size: 20.6875rem;
  inset-inline-start: 1.3125rem;
  margin-block-start: 4rem;
  background-image: url(../assets/mobile/image-keyboard.jpg);
}

.image-phone-and-keyboard {
  inset-inline-start: -1.375rem;
  inline-size: 8.0625rem;
  background-color: var(--spanish-orange);
  background-image: url(../assets/mobile/image-phone-and-keyboard.jpg);
  background-blend-mode: multiply;
}

.image-glass-and-keyboard {
  inline-size: 13.75rem;
  background-image: url(../assets/mobile/image-glass-and-keyboard.jpg);
}

@media (width >= 48rem) {
  header,
  article {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-inline-size: 48rem;
  }
  article {
    margin-inline: auto;
  }
  header {
    row-gap: 2.5rem;
    column-gap: 1.875rem;
    padding-block-start: 2.5rem;
  }
  header nav {
    flex-basis: 100%;
    padding-inline: 2.5rem;
    margin-block-end: 1.375rem;
  }
  header > div:not([class^=image]) {
    max-inline-size: 23.4375rem;
    padding-inline: unset;
    margin-inline-start: 2.5rem;
    margin-block-start: unset;
  }
  article {
    text-align: initial;
    margin-block-start: 4.5rem;
  }
  article h2,
  article > p {
    margin-inline: unset;
    margin-block: unset;
  }
  article h2 {
    max-inline-size: 14ch;
    margin-inline-start: 2.5rem;
    margin-inline-end: 2.25rem;
  }
  article > p {
    max-inline-size: 42ch;
  }
  article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.5625rem;
    column-gap: 4.3125rem;
    max-inline-size: 39.4375rem;
    margin-inline-start: 2.5rem;
    margin-block-start: 8.875rem;
  }
  article li {
    max-inline-size: unset;
  }
  article li + li {
    margin-block-start: unset;
  }
  article li > * {
    margin-inline: unset;
  }
  article li > h3 {
    margin-block-start: 2.5rem;
  }
  footer {
    margin-block-start: 8.875rem;
  }
  .button {
    padding-inline: 1.6875rem;
    padding-block: 1rem;
  }
  .flow > * + * {
    margin-block-start: 2.8125rem;
  }
  .image-phone-and-keyboard,
  .image-glass-and-keyboard {
    display: block;
    block-size: 20rem;
    margin-block-start: unset;
  }
  .image-keyboard {
    inline-size: 20.0625rem;
    block-size: 26.5625rem;
    inset-inline-start: 0.125rem;
    margin: 0;
    background-image: url("../assets/tablet/image-keyboard.jpg");
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .image-phone-and-keyboard {
    position: unset;
    inset-inline-start: unset;
    inline-size: 13.375rem;
    margin-inline-start: 2.5rem;
    background-image: url(../assets/tablet/image-phone-and-keyboard.jpg);
  }
  .image-glass-and-keyboard {
    inline-size: 27.8125rem;
    background-image: url(../assets/tablet/image-glass-and-keyboard.jpg);
  }
}
@media (width >= 90rem) {
  h1 {
    font-size: 3.5rem;
  }
  .image-phone-and-keyboard {
    background-image: url(../assets/desktop/image-phone-and-keyboard.jpg);
  }
  .image-glass-and-keyboard {
    background-image: url(../assets/desktop/image-glass-and-keyboard.jpg);
  }
}

/*# sourceMappingURL=index.css.map */
