@import "functions";

:root
{
	--spanish-orange   : hsla(22, 89%, 52%, 1);
	--atomic-tangerine : hsla(22, 100%, 69%, 1);
	--oxford-blue      : hsla(220, 50%, 17%, 1);
	--cool-gray        : hsla(221, 23%, 58%, 1);
	--alice-blue       : hsla(198, 28%, 93%, 1);

	box-sizing         : border-box;
}

*,
::before,
::after
{
	margin     : 0;
	padding    : 0;
	box-sizing : inherit;
}

::selection
{
	color            : white;
	background-color : var(--spanish-orange);
}

body
{
	font-family      : "Barlow", sans-serif;
	font-weight      : 500;
	line-height      : ratio(26, 16);
	min-height       : 100vh;
	color            : var(--cool-gray);
	background-color : white;
}

img,
picture
{
	display : block;
}

img
{
	font-style      : italic;
	max-inline-size : 100%;
	block-size      : auto;
	user-select     : none;
}


// Typography -------------------------------------------------------------------

h1,
h2,
h3
{
	font-weight    : 900;
	text-transform : uppercase;
	text-wrap      : balance;
	color          : var(--oxford-blue)
}

h1
{
	font-size   : toRem(48);
	line-height : 1;
}

h2
{
	font-size   : toRem(32);
	line-height : ratio(36, 32);
}

h3
{
	font-size   : toRem(24);
	line-height : ratio(28, 24);
}


// Header -----------------------------------------------------------------------

header
{
	max-inline-size     : toRem(375);
	padding-block-start : toRem(23);
	margin-inline       : auto;
	overflow-x          : hidden;

	> div,
	picture:first-of-type
	{
		margin-block-start : toRem(64);
	}

	nav,
	> div
	{
		padding-inline : toRem(21);
	}

	nav > ul
	{
		align-items : center;

		li
		{
			list-style : none;
		}

		li:first-child
		{
			max-block-size : toRem(40);
		}
	}

	.button:not(.primary):not(.secondary)
	{
		padding-inline-start : toRem(29);
	}

	picture:first-of-type
	{
		margin-inline-start : toRem(21);

		> img
		{
			border-radius : toRem(32) 0 0 toRem(32);
		}
	}

	picture:nth-of-type(2),
	picture:nth-of-type(3)
	{
		display : inline-block;
	}

	picture:nth-of-type(3)
	{
		max-inline-size : toRem(220);
	}
}


// Main -------------------------------------------------------------------------

article
{
	text-align         : center;
	margin-block-start : toRem(68);

	h2
	{
		max-inline-size : 17ch;
		margin-inline   : auto;
	}

	p
	{
		max-inline-size : 36ch;
		margin-inline   : auto;
	}

	> p
	{
		margin-block-start : toRem(24);
	}

	ul
	{
		margin-block-start : toRem(111);
	}

	li
	{
		max-inline-size : toRem(354);
		margin-inline   : auto;
		list-style      : none;

		+ li
		{
			margin-block-start : toRem(64);
		}

		> *
		{
			margin-inline : auto;
		}

		> h3
		{
			max-inline-size    : 15ch;
			margin-block-start : toRem(49);
		}

		> p
		{
			margin-block-start : toRem(23);
		}
	}
}


// Footer -----------------------------------------------------------------------

footer
{
	text-align         : center;
	max-inline-size    : toRem(375);
	margin-inline      : auto;
	margin-block-start : toRem(95);
	margin-block-end   : toRem(50);
}


// Utilities --------------------------------------------------------------------

.bold
{
	font-weight : 700;
}

.button
{
	--transition-duration : 300ms;

	display               : inline-block;
	font-weight           : 700;
	text-transform        : uppercase;
	text-decoration       : none;
	padding-inline        : toRem(14);
	padding-block         : toRem(11);
	border-radius         : toRem(8);
	transition            : background-color var(--transition-duration) ease;
	user-select           : none;
}

.button.primary
{
	color            : white;
	background-color : var(--spanish-orange);

	&:active
	{
		background-color : var(--atomic-tangerine);
	}
}

.button.secondary
{
	color            : var(--oxford-blue);
	background-color : var(--alice-blue);
	transition       : background-color var(--transition-duration) ease, color var(--transition-duration) ease;

	&:active
	{
		color            : white;
		background-color : var(--oxford-blue);
	}
}

.flow > * + *
{
	margin-block-start : toRem(32);
}

.icon
{
	display          : flex;
	aspect-ratio     : 1;
	max-inline-size  : toRem(65);
	justify-content  : center;
	align-items      : center;
	background-color : var(--spanish-orange);
	border-radius    : toRem(16);
}

.space-between
{
	display         : flex;
	justify-content : space-between;
}


// Decoration -------------------------------------------------------------------

.image-keyboard,
.image-phone-and-keyboard,
.image-glass-and-keyboard
{
	background-size : cover;
	border-radius   : toRem(24);
}

.image-keyboard,
.image-phone-and-keyboard
{
	position : relative;
}

.image-phone-and-keyboard,
.image-glass-and-keyboard
{
	display            : inline-block;
	block-size         : toRem(193);
	margin-block-start : toRem(24);
}

.image-keyboard
{
	inset-inline-start : toRem(21);
	inline-size        : toRem(372);
	block-size         : toRem(331);
	background-image   : url(../assets/mobile/image-keyboard.jpg);
}

.image-phone-and-keyboard
{
	inset-inline-start    : toRem(-22);
	inline-size           : toRem(129);
	background-color      : var(--spanish-orange);
	background-image      : url(../assets/mobile/image-phone-and-keyboard.jpg);
	background-blend-mode : multiply;
}

.image-glass-and-keyboard
{
	inline-size      : toRem(220);
	background-image : url(../assets/mobile/image-glass-and-keyboard.jpg);
}


// ------------------------------------------------------------------------------
// Tablet -----------------------------------------------------------------------
// ------------------------------------------------------------------------------

@media (width >= toRem(768))
{
	// Main ---------------------------------------------------------------------

	article
	{
		text-align : initial;
	}


	// Utilities ----------------------------------------------------------------

	.button
	{
		padding-inline : toRem(27);
		padding-block  : toRem(16);
	}


	// Decoration ---------------------------------------------------------------

	.image-phone-and-keyboard
	{
		background-image : url(../assets/tablet/image-phone-and-keyboard.jpg);
	}

	.image-glass-and-keyboard
	{
		background-image : url(../assets/tablet/image-glass-and-keyboard.jpg);
	}
}


// ------------------------------------------------------------------------------
// Desktop ----------------------------------------------------------------------
// ------------------------------------------------------------------------------

@media (width >= toRem(1440))
{
	// Typography ---------------------------------------------------------------

	h1
	{
		font-size : toRem(56);
	}


	// Decoration ---------------------------------------------------------------

	.image-phone-and-keyboard
	{
		background-image : url(../assets/desktop/image-phone-and-keyboard.jpg);
	}

	.image-glass-and-keyboard
	{
		background-image : url(../assets/desktop/image-glass-and-keyboard.jpg);
	}
}
