@import "functions";

:root
{
	--spanish-orange   : hsla(22, 89%, 52%, 1);
	--atomic-tangerine : hsla(22, 100%, 69%, 1);
	--oxford-blue      : hsla(220, 50%, 17%, 1);
	--cool-gray        : hsla(221, 23%, 58%, 1);
	--alice-blue       : hsla(198, 28%, 93%, 1);

	box-sizing         : border-box;
}

*,
::before,
::after
{
	margin     : 0;
	padding    : 0;
	box-sizing : inherit;
}

::selection
{
	color            : white;
	background-color : var(--spanish-orange);
}

body
{
	font-family      : "Barlow", sans-serif;
	font-weight      : 500;
	line-height      : ratio(26, 16);
	min-height       : 100vh;
	color            : var(--cool-gray);
	background-color : white;
}

img,
picture
{
	display : block;
}

img
{
	font-style      : italic;
	max-inline-size : 100%;
	block-size      : auto;
	user-select     : none;
}


// Typography -------------------------------------------------------------------

h1,
h2,
h3
{
	font-weight    : 900;
	text-transform : uppercase;
	text-wrap      : balance;
	color          : var(--oxford-blue)
}

h1
{
	font-size   : toRem(48);
	line-height : 1;
}

h2
{
	font-size   : toRem(32);
	line-height : ratio(36, 32);
}

h3
{
	font-size   : toRem(24);
	line-height : ratio(28, 24);
}


// Header -----------------------------------------------------------------------

header
{
	max-inline-size     : toRem(375);
	padding-block-start : toRem(23);
	margin-inline       : auto;
	overflow-x          : hidden;

	nav,
	> div:not([class^="image"])
	{
		padding-inline : toRem(21);
	}

	nav > ul
	{
		align-items : center;

		li
		{
			list-style : none;
		}

		li:first-child
		{
			max-block-size : toRem(40);
		}
	}

	> div:not([class^="image"])
	{
		margin-block-start : toRem(64);
	}

	.button:not(.primary):not(.secondary)
	{
		padding-inline-start : toRem(29);
	}
}


// Main -------------------------------------------------------------------------

article
{
	text-align         : center;
	margin-block-start : toRem(68);

	h2,
	p
	{
		margin-inline : auto;
	}

	h2
	{
		max-inline-size : 17ch;
	}

	p
	{
		max-inline-size : 36ch;
	}

	> p
	{
		margin-block-start : toRem(24);
	}

	ul
	{
		margin-block-start : toRem(111);
	}

	li
	{
		max-inline-size : toRem(354);
		margin-inline   : auto;
		list-style      : none;

		+ li
		{
			margin-block-start : toRem(64);
		}

		> *
		{
			margin-inline : auto;
		}

		h3
		{
			max-inline-size    : 15ch;
			margin-block-start : toRem(49);
		}

		p
		{
			margin-block-start : toRem(23);
		}
	}
}


// Footer -----------------------------------------------------------------------

footer
{
	text-align         : center;
	max-inline-size    : toRem(375);
	margin-inline      : auto;
	margin-block-start : toRem(95);
	margin-block-end   : toRem(50);
}


// Utilities --------------------------------------------------------------------

.bold
{
	font-weight : 700;
}

.button
{
	--transition-duration : 100ms;

	display               : inline-block;
	font-weight           : 700;
	text-transform        : uppercase;
	text-decoration       : none;
	padding-inline        : toRem(14);
	padding-block         : toRem(11);
	border-radius         : toRem(8);
	transition            : background-color var(--transition-duration) ease;
	user-select           : none;
}

.button.primary
{
	color            : white;
	background-color : var(--spanish-orange);

	&:active
	{
		background-color : var(--atomic-tangerine);
	}
}

.button.secondary
{
	color            : var(--oxford-blue);
	background-color : var(--alice-blue);
	transition       : background-color var(--transition-duration) ease, color var(--transition-duration) ease;

	&:active
	{
		color            : white;
		background-color : var(--oxford-blue);
	}
}

.flow > * + *
{
	margin-block-start : toRem(32);
}

.icon
{
	display          : flex;
	aspect-ratio     : 1;
	max-inline-size  : toRem(65);
	justify-content  : center;
	align-items      : center;
	background-color : var(--spanish-orange);
	border-radius    : toRem(16);
}

.space-between
{
	display         : flex;
	justify-content : space-between;
}


// Decoration -------------------------------------------------------------------

.image-keyboard,
.image-phone-and-keyboard,
.image-glass-and-keyboard
{
	background-size : cover;
	border-radius   : toRem(24);
}

.image-keyboard,
.image-phone-and-keyboard
{
	position : relative;
}

.image-phone-and-keyboard,
.image-glass-and-keyboard
{
	display            : inline-block;
	block-size         : toRem(193);
	margin-block-start : toRem(24);
}

.image-keyboard
{
	inline-size        : toRem(372);
	block-size         : toRem(331);
	inset-inline-start : toRem(21);
	margin-block-start : toRem(64);
	background-image   : url(../assets/mobile/image-keyboard.jpg);
}

.image-phone-and-keyboard
{
	inset-inline-start    : toRem(-22);
	inline-size           : toRem(129);
	background-color      : var(--spanish-orange);
	background-image      : url(../assets/mobile/image-phone-and-keyboard.jpg);
	background-blend-mode : multiply;
}

.image-glass-and-keyboard
{
	inline-size      : toRem(220);
	background-image : url(../assets/mobile/image-glass-and-keyboard.jpg);
}


// ------------------------------------------------------------------------------
// Tablet -----------------------------------------------------------------------
// ------------------------------------------------------------------------------

@media (width >= toRem(768))
{
	header,
	article
	{
		display         : flex;
		align-items     : center;
		flex-wrap       : wrap;
		max-inline-size : toRem(768);
	}

	article
	{
		margin-inline : auto;
	}


	// Header -------------------------------------------------------------------

	header
	{
		row-gap             : toRem(40);
		column-gap          : toRem(30);
		padding-block-start : toRem(40);

		nav
		{
			flex-basis       : 100%;
			padding-inline   : toRem(40);
			margin-block-end : toRem(22);
		}

		> div:not([class^="image"])
		{
			max-inline-size     : toRem(375);
			padding-inline      : unset;
			margin-inline-start : toRem(40);
			margin-block-start  : unset;
		}
	}


	// Main ---------------------------------------------------------------------

	article
	{
		text-align         : initial;
		margin-block-start : toRem(72);

		h2,
		> p
		{
			margin-inline : unset;
			margin-block  : unset;
		}

		h2
		{
			max-inline-size     : 14ch;
			margin-inline-start : toRem(40);
			margin-inline-end   : toRem(36);
		}

		> p
		{
			max-inline-size : 42ch;
		}

		ul
		{
			display               : grid;
			grid-template-columns : 1fr 1fr;
			row-gap               : toRem(73);
			column-gap            : toRem(69);
			max-inline-size       : toRem(631);
			margin-inline-start   : toRem(40);
			margin-block-start    : toRem(142);
		}

		li
		{
			max-inline-size : unset;
		}

		li + li
		{
			margin-block-start : unset;
		}

		li > *
		{
			margin-inline : unset;
		}

		li > h3
		{
			margin-block-start : toRem(40);
		}
	}


	// Footer -------------------------------------------------------------------

	footer
	{
		margin-block-start : toRem(142);
	}


	// Utilities ----------------------------------------------------------------

	.button
	{
		padding-inline : toRem(27);
		padding-block  : toRem(16);
	}


	// Decoration ---------------------------------------------------------------

	.image-phone-and-keyboard,
	.image-glass-and-keyboard
	{
		display            : block;
		block-size         : toRem(320);
		margin-block-start : unset;
	}

	.image-keyboard
	{
		inline-size                : toRem(321);
		block-size                 : toRem(425);
		inset-inline-start         : toRem(2);
		margin                     : 0;
		background-image           : url("../assets/tablet/image-keyboard.jpg");
		border-top-right-radius    : 0;
		border-bottom-right-radius : 0;
	}

	.image-phone-and-keyboard
	{
		position            : unset;
		inset-inline-start  : unset;
		inline-size         : toRem(214);
		margin-inline-start : toRem(40);
		background-image    : url(../assets/tablet/image-phone-and-keyboard.jpg);
	}

	.image-glass-and-keyboard
	{
		inline-size      : toRem(445);
		background-image : url(../assets/tablet/image-glass-and-keyboard.jpg);
	}
}


// ------------------------------------------------------------------------------
// Desktop ----------------------------------------------------------------------
// ------------------------------------------------------------------------------

@media (width >= toRem(1440))
{
	header,
	article
	{
		display               : grid;
		grid-template-columns : repeat(4, 1fr);
		align-items           : unset;
		flex-wrap             : unset;
		max-inline-size       : toRem(1440);
		padding-inline        : toRem(165);
	}

	article
	{
		column-gap : toRem(30);
	}


	// Typography ---------------------------------------------------------------

	h1
	{
		font-size : toRem(56);
	}


	// Header -------------------------------------------------------------------

	header
	{
		row-gap             : toRem(30);
		padding-block-start : toRem(55);
		margin-inline       : auto;
		margin-block-end    : toRem(-420);

		nav
		{
			grid-row-start   : 1;
			grid-column      : 1 / 5;
			flex-basis       : unset;
			padding-inline   : unset;
			margin-block-end : toRem(53);
		}

		> div:not([class^="image"])
		{
			grid-row-start      : 2;
			grid-column         : 1 / 3;
			max-inline-size     : unset;
			margin-inline-start : unset;
			margin-inline-end   : toRem(95);
			margin-block-start  : toRem(60);
		}

		> div:not([class^="image"]) > p
		{
			font-size          : toRem(18);
			line-height        : ratio(26, 18);
			margin-block-start : toRem(24);
		}

		> div:not([class^="image"]) > div
		{
			margin-block-start : toRem(40);
		}
	}


	// Main ---------------------------------------------------------------------

	article
	{
		margin-block-start : unset;

		h2,
		> p
		{
			grid-column : 4 / 5;
		}


		h2
		{
			margin-inline-start : unset;
			margin-inline-end   : unset;
			margin-block-start  : toRem(52);
		}

		> p
		{
			grid-row-start     : 2;
			margin-block-start : toRem(27);
		}

		p
		{
			max-inline-size : unset;
		}

		ul
		{
			grid-row-start        : 3;
			grid-column           : 1 / 5;
			grid-template-columns : subgrid;
			row-gap               : unset;
			column-gap            : toRem(30);
			max-inline-size       : unset;
			margin-inline-start   : unset;
			margin-block-start    : toRem(271);
		}

		li:first-of-type
		{
			margin-block : auto;
		}

		li h3
		{
			margin-block-start : toRem(48);
		}
	}


	// Footer -------------------------------------------------------------------

	footer
	{
		margin-block-start : toRem(128);
		margin-block-end   : toRem(40);
	}


	// Decoration ---------------------------------------------------------------

	[class^="image"]
	{
		block-size : toRem(480);
	}

	.image-keyboard
	{
		grid-row-start             : 2;
		grid-column                : 3 / 5;
		inline-size                : toRem(540);
		background-image           : url(../assets/desktop/image-keyboard.jpg);
		border-top-right-radius    : toRem(24);
		border-bottom-right-radius : toRem(24);
	}

	.image-phone-and-keyboard,
	.image-glass-and-keyboard
	{
		grid-row-start : 3;
	}

	.image-phone-and-keyboard
	{
		inline-size         : toRem(255);
		margin-inline-start : unset;
		background-image    : url(../assets/desktop/image-phone-and-keyboard.jpg);
	}

	.image-glass-and-keyboard
	{
		grid-column-end  : span 2;
		inline-size      : toRem(445);
		background-image : url(../assets/desktop/image-glass-and-keyboard.jpg);
	}
}
